.main__container{
    height: 100vh;
}
.name__container{
    background: rgb(0, 0, 0);
}
.name__container .name__container--input--container{
    max-width: 300px;
}
.name__container--input--container > label{
    font-size: 2.5em;
    color: rgb(49, 255, 49);
    margin-left: .5em;
}
.name__container--input--container > input{
    font-size: 1.7em;
    background: transparent;
    border: 3px solid rgb(32, 104, 32);
    border-radius: 15px;
    color: #fff;
    padding: .3em 0 .3em .8em;
    caret-color: rgb(63, 117, 63);
}
.name__container--input--container > input:focus{
    border: 3px solid rgb(32, 104, 32);
    outline: none;
}
.start__game__btn{
    font-size: 2.5em;
    color: rgb(49, 255, 49);
}
.start__game__btn:hover , .start__game__btn:focus{
    color: #fff !important;
}
.hidden-style{
    display: none;
}
.game__container--board{
    background: rgb(49, 255, 49);
}
.game__container--board > div{
    width: 30%;
    height: 30%;
}
.UsersData__box{
    font-size: 3em;
    text-align: center;
    text-justify: center;
    line-height: 5em;
    border-radius: 2em;
    color: #fff;
}
.players__color__input{
    border: 0 !important;
    height: 50px;
    padding: 0 !important;
}
.board-cells{
    display: flex;
    align-items: center;
    justify-content: center;
}
.board-cells > span{
    font-size: 8em;
    color: #fff;
}
@media (max-width: 992px){
    .game__container--board{
        height: 75%;
    } 
    .game__container--UsersData{
        height: 25%;
    }
    .game__container--UsersData{
        margin-bottom: 1.5em;
    }
    .UsersData__box{
        line-height: 0;
        text-align: none;
        text-justify: none;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
    }
}
@media (max-width: 667px){
    html{
        font-size: 8px;
    }
}
@media (min-width: 668px) {
    html{
        font-size: 12px;
    }
}
@media (min-width: 1100px) {
    html{
        font-size: 16px;
    }
}